@page
@inject IConfiguration _config
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col">
        <passage-auth app-id="@_config["Passage:AppId"]" />
    </div>
</div>

@section Scripts {

}
