@page
@model LoginModel
@inject IConfiguration _config

@{
    ViewData["Title"] = "Log in";
}

@section head {
}

<div class="row">
    <div class="col">
        <passage-auth app-id="@_config["Passage:AppId"]" test="true" />
    </div>
</div>

