@page
@model LoginModel
@inject IConfiguration _config

@{
    ViewData["Title"] = "Log in";
}

@section head {
    <script src="https://psg.so/web.js" defer></script>
}

<div class="row">
    <div class="col">
        <passage-auth app-id="@_config["Passage:AppId"]" />
    </div>
</div>

