@page
@inject IConfiguration _config
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col">
        <passage-register app-id="@_config["Passage:AppId"]" />
    </div>
</div>
