@page
@model RegisterModel
@inject IConfiguration _config
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col">
        <h2>Profile</h2>
        <passage-profile app-id="@_config["Passage:AppId"]" />
    </div>
</div>
