@page
@model RegisterModel
@inject IConfiguration _config
@{
    ViewData["Title"] = "Register";
}

@section head {
    <script src="https://psg.so/web.js" defer></script>
}

<div class="row">
    <div class="col">
        <passage-profile app-id="@_config["Passage:AppId"]" />
    </div>
</div>
